@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --fonte-principal: 'Ubuntu' sans-serif;
    --cor-primaria: #6329A2;
    --cor-secundaria: #7c3aed;
    --cor-cinza-escuro: #333333;
    --cor-branca: #ffffff;
    --cor-formulario: #AAAAAA;
}